.app--body {
  background: #000;
  color: #1d1d1f;
  color: #dcdcd2;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  padding: 0;
  direction: ltr;
  display: inline;
  -webkit-font-smoothing: antialiased;
  margin: 0 0 220px;
}

.app {
  height: 100%;
  width: 100%;

  .bbs {
    background-color: #000;
    color: #dcdcd2;
  }

  .no-highlight {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .app--header {
    height: 48px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2002;

    .app--header--info {
      background: #1d1d1f;
      text-align: center;
      position: absolute;
      padding: 6px;
      left: 0;
      right: 0;
      top: 0;
      color: #fff;
      transition: all 0.2s ease-out;
      transform: translateY(-20px);

      .app--header--info--span {
        font-size: 14px;
        opacity: 0.5;
        color: #fff;
        text-align: center;
      }
    }

    .app--header--background {
      background: #101010;
      height: 48px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .app--header--content {
      height: 48px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      .app--header--content--usercounter {
        font-size: 16px;
        color: #666;
        position: absolute;
        padding: 12px;
        display: inline-block;
        font-weight: 700;
        left: 4px;
        top: 0;
        transition: transform 0.1s;
        font-weight: 700;
      }

      .app--header--content--logo {
        display: inline-block;
        font-size: 16px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;

        .app--header--content--logo--mask {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          overflow: hidden;
          display: inline-block;
          font-size: 16px;

          svg {
            height: 48px;
            width: auto;
          }
        }

        .app--header--content--logo--bg {
          display: inline-block;
          font-size: 16px;
          cursor: pointer;

          svg {
            height: 48px;
            width: auto;
          }
        }
      }

      .app--header--content--loginbutton {
        display: inline-block;
        position: absolute;
        right: 12px;
        height: auto;
        line-height: 1;
        font-weight: 600;
        top: 50%;
        padding: 6px;
        border-radius: 3px;
        transform: translateY(-50%);
        background: #fff;
        color: #000;
        font-size: 14px;
        cursor: pointer;

        svg {
          height: 14px;
          width: auto;
        }
      }
    }
  }

  .app--scene {
    transition: opacity 0.1s ease-in-out;

    .app--scene--messagelist {
      margin: 48px auto 100px;
      max-width: 768px;
      overflow-y: auto;

      .app--scene--messagelist--header {
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        position: relative;
        margin: 0;
        font-weight: 400;
        color: #999;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
      }

      .app--scene--messagelist--messageitem {
        display: block;

        .app--scene--messagelist--messageitem--content {
          background: #191919;
          border-top: 6px solid #000;
          border-bottom: 6px solid #000;

          .app--scene--messagelist--messageitem--content--meta {
            padding: 12px;
            display: flex;
            justify-content: space-between;

            .app--scene--messagelist--messageitem--content--meta--username {
              font-weight: 700;
              font-size: 15px;
              line-height: 21px;
              letter-spacing: 0.228px;
            }

            .app--scene--messagelist--messageitem--content--meta--createdat {
              font-weight: 400;
              font-size: 14px;
              line-height: 14px;
              letter-spacing: -.308px;
              margin: 3px 0 0;
              opacity: 0.35;

              a {
                color: #fff;
              }
            }
          }

          .app--scene--messagelist--messageitem--content--canvas {
            margin: 0;
            position: relative;
            height: 500px;
            background-color: #fff;

            iframe {
              padding: 0;
              margin: 0;
              border: 0;
              height: 100%;
              width: 100%;
            }
          }

          .app--scene--messagelist--messageitem--content--body {
            margin-top: 1em;
            padding: 0 12px 13.6px;
            font-weight: 500;
            letter-spacing: -.374px;
            line-height: 16px;
            font-weight: 400;
            position: relative;
            color: #7a7a7a;
            font-size: 16px;

            .dist---link {
              text-decoration: none;
              font-size: 15px;
              color: #fff;
              text-decoration: underline;
              font-weight: bold;
            }
            .dist---image{
              border-radius: 4px;
            }
          }
        }
      }
    }
  }

  .app--footer {
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 30px;
    align-items: center;
    font-size: 12px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;

    span {
      font-size: 12px;
      line-height: 1.5;
      opacity: 0.5;
    }
  }
}
