html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #000;
	background: #fff;
	font: 16px/1.2 "HelveticaNeue", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 24px;
}

h2,
.h2 {
	font-size: 24px;
}

h3,
.h3 {
	font-size: 18px;
}

h4,
.h4 {
	font-size: 18px;
}

h5,
.h5 {
	font-size: 16px;
}

h6,
.h6 {
	font-size: 14px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #39f;
}

a:hover,
a:focus {
	text-decoration: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #999;
	padding: 10px 5px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #000;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #999;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #999;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("/public/fonts/HelveticaNeueBold.woff2") format("woff2"), url("/public/fonts/HelveticaNeueBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeue";
	src: url("/public/fonts/HelveticaNeueMedium.woff2") format("woff2"), url("/public/fonts/HelveticaNeueMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

.sticky-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#header {
	position: fixed;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	width: 100% !important;
	padding: 15px;
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
	z-index: 9;
}

.fixed-position #header {
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	background: #fff;
}

#header .header-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#header .logo {
	width: 23px;
	position: relative;
	z-index: 99;
}

#header .logo img {
	display: block;
	width: 100%;
	height: auto;
}

#header .btn-signin {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0;
	background: none;
	position: relative;
	z-index: 99;
}

#header .btn-signin span {
	display: none;
}

#header .btn-signin img {
	display: block;
}

.nav-opener {
	display: block;
	width: 21px;
	position: relative;
	z-index: 999;
}

.nav-opener img {
	display: block;
	width: 100%;
	height: auto;
}

#nav {
	position: relative;
}

.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 100px 15px 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
	background: rgba(255, 255, 255, .96);
	text-align: center;
	opacity: 0;
	visibility: hidden;
}

.nav-active .main-nav {
	opacity: 1;
	visibility: visible;
}

.main-nav li {
	padding: 0 0 20px;
}

.main-nav a {
	display: inline-block;
	vertical-align: top;
	color: #000;
	text-decoration: none;
}

body {
	min-width: 320px;
	font-weight: 500;
}

.btn {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	padding: 10px 22px;
	border-radius: 4px;
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
	background: #000;
}

.btn:hover {
	opacity: .8;
}

a {
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
}

a:hover {
	opacity: .7;
}

p:last-child {
	margin: 0;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}

#wrapper {
	overflow: hidden;
}

#main {
	// overflow-x: hidden;
}

.bg-stretch {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 2;
}

.bg-stretch:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, .75);
	z-index: -1;
}

.visual {
	width: 100%;
	text-transform: uppercase;
	padding: 60px 0 80px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.visual .learn-more {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	left: 50%;
	bottom: 20px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 12px;
	line-height: 15px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

.visual .learn-more span {
	display: none;
	margin: 0 0 13px;
}

.visual .learn-more img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.visual .container {
	height: calc(100vh - 140px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.visual .logo-img {
	width: 52px;
	margin: 0 auto 15px;
}

.visual h1 {
	text-transform: uppercase;
	margin: 0 0 10px;
}

.section {
	overflow: hidden;
	padding: 60px 0;
}

.section h2 {
	text-transform: uppercase;
	margin: 0 0 28px;
	text-align: center;
}

.faq {
	color: #fff;
	background: #000;
}

.faq .container {
	max-width: 910px;
}

.accordion {
	font-size: 14px;
	line-height: 17px;
}

.accordion li {
	padding: 0 0 10px;
}

.accordion li.active a {
	border-radius: 4px 4px 0 0;
}

.accordion li.active a:after {
	-webkit-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

.accordion a {
	display: block;
	position: relative;
	font-size: 15px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	padding: 18px 32px 16px 10px;
	border-radius: 4px;
	text-decoration: none;
	background: #fff;
}

.accordion a:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
	background: url("/public/images/expand.svg") no-repeat;
}

.accordion a:hover {
	opacity: 1;
}

.accordion .wrap {
	text-transform: uppercase;
	padding: 0 10px 12px;
	color: #000;
	border-radius: 0 0 4px 4px;
	background: #fff;
}

.features h2 {
	text-align: left;
	padding-right: 100px;
}

.features .container {
	max-width: 100%;
}

.feature-slider {
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	margin-left: -5px;
}

.feature-slider .slick-list {
	overflow: visible;
}

.feature-slider .slick-track {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.feature-slider h3 {
	line-height: 1.2;
}

.feature-slider .slide {
	width: 298px;
	height: auto;
	float: none;
	padding: 0 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.feature-slider .holder {
	height: 100%;
	padding: 20px 15px;
	border-radius: 5px;
	color: #fff;
	background: #000;
}

.feature-slider .img-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 0 15px;
	background: #fff;
}

.feature-slider .img-box img {
	display: block;
	max-width: 100%;
	height: auto;
}

.partners .container {
	max-width: 900px;
}

.partners-logo {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.partners-logo li {
	padding: 0 10px 23px;
	width: 180px;
}

.partners-logo a {
	display: inline-block;
	vertical-align: top;
	color: #000;
	text-decoration: none;
}

.partners-logo img {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	margin: 0 auto 10px;
}

.partners-logo .title {
	display: block;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

.animated {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-prev,
.slick-next {
	position: absolute;
	top: -60px;
	right: 0;
	width: 30px;
	height: 30px;
}

.slick-prev:hover,
.slick-next:hover {
	opacity: .5;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
	opacity: .2;
	pointer-events: none;
}

.slick-prev {
	right: 40px;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

#footer {
	overflow: hidden;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 50px 0;
}

#footer .column {
	width: 100%;
}

#footer .socialnetworks {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 10px;
}

.footer-logo {
	width: 23px;
	margin: 0 auto 50px;
}

.footer-logo img {
	display: block;
	width: 100%;
	height: auto;
}

.copyright {
	display: block;
	margin: 0 0 50px;
}

.copyright a {
	color: #000;
	text-decoration: none;
}

.footer-nav {
	display: none;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	font-size: 14px;
	line-height: 17px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 -15px;
}

.footer-nav li {
	padding: 0 15px;
}

.footer-nav a {
	display: inline-block;
	vertical-align: top;
	color: #000;
	text-decoration: none;
}

.socialnetworks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0 -5px;
}

.socialnetworks li {
	padding: 0 5px 5px;
}

.socialnetworks img {
	display: block;
	max-width: 100%;
	height: auto;
}

@media (min-width: 768px) {
	h1,
	.h1 {
		font-size: 40px;
	}

	h2,
	.h2 {
		font-size: 30px;
	}

	h3,
	.h3 {
		font-size: 22px;
	}

	#header .logo {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}

	#header .btn-signin {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
		padding: 10px 26px 8px;
		color: #fff;
		background: #000;
	}

	#header .btn-signin span {
		display: block;
	}

	#header .btn-signin img {
		display: none;
	}

	.nav-opener {
		display: none;
	}

	#nav {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}

	.main-nav {
		padding: 15px;
		font-size: 14px;
		line-height: 17px;
		position: static;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-transition: none;
		transition: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		background: none;
		opacity: 1;
		visibility: visible;
	}

	.main-nav li {
		padding: 0 20px;
	}

	.container {
		padding: 0 15px;
	}

	.visual {
		font-size: 22px;
		line-height: 25px;
		padding: 60px 10px 80px;
	}

	.visual .learn-more span {
		display: block;
	}

	.visual .logo-img {
		margin: 0 auto 33px;
	}

	.visual h1 {
		margin: 0 0 20px;
	}

	.section {
		padding: 100px 0;
	}

	.accordion a {
		padding: 22px 50px 20px 20px;
	}

	.accordion a:after {
		right: 20px;
	}

	.accordion .wrap {
		padding: 0 20px 20px;
	}

	.feature-slider {
		font-size: 14px;
		line-height: 17px;
	}

	.feature-slider .slide {
		width: 340px !important;
	}

	.feature-slider .holder {
		padding: 20px;
	}

	.feature-slider .img-box {
		width: 60px;
		height: 60px;
	}

	.partners-logo li {
		width: 25%;
		padding: 0 10px 50px;
	}

	.partners-logo .title {
		font-size: 16px;
		line-height: 20px;
	}

	.slick-prev {
		right: 50px;
	}

	#footer {
		padding: 85px 0;
	}

	#footer .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	#footer .column {
		width: 50%;
		text-align: right;
	}

	#footer .column:first-child {
		text-align: left;
	}

	#footer .socialnetworks {
		margin-bottom: 80px;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.footer-logo {
		margin: 0 0 80px;
	}

	.copyright {
		margin: 0;
	}

	.footer-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

@media (min-width: 1024px) {
	#header {
		padding: 9px 50px;
	}

	.accordion {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin: 0 -10px;
	}

	.accordion li {
		width: 50%;
		padding: 0 5px 10px;
	}

	.partners-logo .title {
		font-size: 18px;
		line-height: 22px;
	}
}

@media (max-width: 767px) {
	body.nav-active {
		overflow: hidden;
	}

	#footer .container {
		text-align: center;
	}
}

@-webkit-keyframes bounce {
	0%,
	100% {
		-webkit-transform: translateY(0);
	}

	50% {
		-webkit-transform: translateY(-5px);
	}
}

@keyframes bounce {
	0%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	50% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
