main {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background: linear-gradient(rgb(33, 29, 29) 0%, rgb(17, 15, 15) 100%);
}

.projects {
  margin: 100px auto;

  .projects--title {
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    user-select: none;
    cursor: default;
  }

  .projects--subtitle {
    display: flex;
    color: rgb(255, 255, 255);
    opacity: 0.75;
    font-size: 20px;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 550px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 40px;
    cursor: default;
  }

  .projects--grid {
    max-width: 1050px;
    margin: 25px auto;
    width: 100vw;

    .projects--grid--header {
      display: flex;
      flex-direction: column;

      .projects--grid--header--title {
        color: rgb(255, 255, 255);
        font-size: 34px;
        font-weight: 700;
        user-select: none;
        cursor: default;
        font-size: 34px;
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
      }

      .projects--grid--header--subtitle {
        color: rgb(255, 255, 255);
        opacity: 0.75;
        font-size: 20px;
        text-align: center;
        cursor: default;
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }

    .projects--grid--body {
      display: grid;
      flex-wrap: wrap;
      -webkit-box-align: center;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      margin-left: 20px;
      grid-column-gap: 15px;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      margin-right: 20px;

      .projects--grid--body--item {
        margin-bottom: 20px;
        display: flex;
        position: relative;
        z-index: 1;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        transition: all 0.5s ease 0s;
        height: 290px;
        height: 140px;
        cursor: pointer;

        .projects--grid--body--item--content {
          display: flex;
          flex-direction: column;
          padding: 20px;

          .projects--grid--body--item--content--title {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
            user-select: none;
            cursor: default;
          }

          .projects--grid--body--item--content--subtitle {
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 500;
            opacity: 0.75;
            cursor: default;
          }

          .projects--grid--body--item--content--avatar {
            background-size: contain;
            display: flex;
            align-items: flex-end;
            margin-top: auto;
            width: 50px;
            height: 50px;
            position: relative;
            z-index: 1;
            transition: background-image 0.3s ease 0s;
            background-repeat: no-repeat;
          }

          .projects--grid--body--item--content--avatar::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            opacity: 0;
            background-size: contain;
            width: 50px;
            height: 50px;
            transition: opacity 0.3s ease 0s;
            border-radius: 15px;
          }
        }
      }

      .projects--grid--body--item:hover::before {
        opacity: 1;
      }

      .projects--grid--body--item:hover {
        transform: scale(1.025);
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.25) 0 20px 40px 0;
        background: rgba(255, 255, 255, 0.1);
      }

      .orange--item::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        background: linear-gradient(rgb(238, 164, 0) 0%, rgb(238, 137, 0) 100%);
        transition: opacity 0.3s ease 0s;
        border-radius: 15px;
      }

      .blue--item::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        background: linear-gradient(rgb(0, 96, 232) 0%, rgb(0, 83, 200) 100%);
        transition: opacity 0.3s ease 0s;
        border-radius: 15px;
      }

      .purple--item::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        background: linear-gradient(rgb(191, 65, 255) 0%, rgb(169, 0, 255) 100%);
        transition: opacity 0.3s ease 0s;
        border-radius: 15px;
      }

      .red--item::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        background: linear-gradient(rgb(237, 28, 36) 0%, rgb(225, 25, 33) 100%);
        transition: opacity 0.3s ease 0s;
        border-radius: 15px;
      }

      .darkblue--item::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        background: linear-gradient(rgb(0, 96, 232) 0%, rgb(0, 83, 200) 100%);
        transition: opacity 0.3s ease 0s;
        border-radius: 15px;
      }

      .green--item::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        background: linear-gradient(rgb(26, 200, 0) 0%, rgb(22, 168, 0) 100%);
        transition: opacity 0.3s ease 0s;
        border-radius: 15px;
      }
    }
  }
}

.contacts {
  z-index: 1000;

  .contact {
    display: block;
    z-index: 100;

    .contact--block {
      display: flex;
      flex-direction: column;
      max-width: 1045px;
      width: 100%;
      height: 502px;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.5) 0 20px 40px;
      margin: 0 auto -50px;
      border-radius: 20px;
      background: linear-gradient(rgb(245, 47, 75) 0%, rgb(196, 27, 51) 100%);
      padding: 90px 100px 0;
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-column-gap: 40px;
      z-index: 100;

      .contact--block--title {
        display: flex;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: rgb(255, 255, 255);
        max-width: 280px;
        cursor: default;
        font-size: 34px;
        text-align: left;
      }

      .contact--block--subtitle {
        font-size: 14px;
        color: rgb(255, 255, 255);
        opacity: 0.75;
        max-width: 250px;
        text-align: center;
        margin-top: 10px;
        cursor: default;
        font-size: 20px;
        text-align: left;
      }

      .contact--block--body {
        margin-top: 42px;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        display: flex;

        .contact--block--body--inputrow {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-column-gap: 10px;

          .contact--block--body--inputrow--label {
            font-size: 14px;
            color: rgb(255, 255, 255);
            opacity: 0.8;
            font-weight: 600;
            cursor: default;
          }
        }

        .contact--block--body--textrow {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          margin-bottom: 20px;

          .contact--block--body--textrow--label {
            margin-top: 0;
            font-size: 14px;
            color: rgb(255, 255, 255);
            opacity: 0.8;
            font-weight: 600;
            cursor: default;
          }
        }

        .contact--block--body--buttonrow {
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;

          .contact--block--body--buttonrow--button {
            min-height: 50px;
            color: rgb(255, 255, 255);
            opacity: 0.5;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
            width: 100%;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            cursor: no-drop;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 10px;
            max-height: 50px;
            max-width: 250px;
            margin-top: 0;

            .contact--block--body--buttonrow--button--arrow {
              height: 12px;
              width: 16px;
              margin-left: 5px;
              opacity: 1;
            }
          }
        }
      }
    }
    @media (max-width: 1049px) {
      .contact--block {
        display: flex;
        height: 100%;
        margin-bottom: 0;
        box-shadow: none;
        border-radius: 0;
        padding: 55px 20px;

        .contact--block--title {
          text-align: center;
          width: 100%;
          max-width: 100%;
        }

        .contact--block--subtitle {
          text-align: center;
          width: 100%;
          max-width: 100%;
        }

        .contact--block--body {
          .contact--block--body--inputrow {
            display: block;
            .contact--block--body--inputrow--label{
                margin-top: 10px;
            }

          }
        }
      }
    }
  }
}

.text--field {
  height: 34px;
  margin-top: 5px;
  font-size: 16px;
  padding-left: 5px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-image: initial;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  transition: all 250ms ease 0s;
}

.text--area {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  height: 192px;
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-image: initial;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  outline: none;
  padding: 10px;
  transition: all 250ms ease 0s;
}
