@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.app--recaptcha {
  background: linear-gradient(168.83deg, #2b2b38 7.85%, #20202a 90.72%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;

  .app--recaptcha--container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0,0,0,0.25) 0 10px 20px;
    width: 426px;
    box-sizing: border-box;
    background: #3b3b46;
    border-radius: 8px;
    padding: 23px 20px 0;

    .app--recaptcha--container--message {
      font-family: "Inter";
      color: #fff;
      font-size: 12px;
      text-align: center;

      #topic {
        font-size: 13px;
        font-weight: 800;
      }
    }

    .app--recaptcha--container--canvas {
      width: 100%;
      height: 300px;
      background-color: #fff;
      border-radius: 10px;
    }

    .app--recaptcha--container--captcha--button {
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      box-shadow: rgba(0,0,0,0.25) 0 2px 4px;
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      font-family: "Inter";
      font-weight: 800;
      font-size: 14px;
      text-transform: uppercase;
      color: white;
      background-image: linear-gradient(#296AFC, #034FFE);
      border-radius: 8px;
      transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
      cursor: pointer;
      border: none;
      margin-top: 20px;
    }

    .app--recaptcha--container--captcha--button:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  .gradient__green {
    background: -webkit-linear-gradient(#1EDE01, #17AF00) !important;
  }

  .gradient__red {
    background: -webkit-linear-gradient(#FC2756, #DF002D) !important;
  }
}
